{% extends 'authentication/base.html' %}

{% load static %}

{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div>
                <input type="submit" value="Log in" class="btn btn-primary" style="width: 100%;">
            </div>
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/style.css' %}">
{% endblock %}
