{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <form  class="form-group" action="" method="POST">
                            {% csrf_token %}
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="credentials" class="form-label">Credentials</label>
                                    <input type="text" class="form-control" id="credentials" name="credentials" placeholder="credentials">
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="amount" class="form-label">Amount</label>
                                    <input type="number" class="form-control" id="amount" name="amount" value="0" min="0" step="1">
                                </div>
                            </div>
                            <br><input type="submit" value="Top up" class="btn btn-primary" style="width: 85%;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
{% endblock %}