{% extends 'app/base.html' %}

{% block content %}

    {% if not disabled %} <form action="{% url 'user-profile' %}" method="POST" > {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <div>
                {% if account.profile_image %}
                <img src="{{ account.profile_image.url }}">
                {% else %}
                There is no image
                {% endif %}
            </div>
            <div>
                <label for="first-name">First name</label><br>
                <input type="text" id="first-name" name="first-name" value="{{ user.first_name }}" {{ disabled }}>
            </div>
            <div>
                <label for="last-name">Last name</label><br>
                <input type="text" id="last-name" name="last-name" value="{{ user.last_name }}" {{ disabled }}>
            </div>
            <div>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" value="{{ user.username }}" {{ disabled }}>
            </div>
            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" value="{{ user.email }}" {{ disabled }}>
            </div>
            <div>
                <label for="phone">Phone</label><br>
                <input type="text" id="phone" name="phone" value="{{ account.phone }}" {{ disabled }}>
            </div>
            <div>
                <label for="sms_notifications">SMS notifications</label>
                <input type="checkbox" id="sms_notifications" name="sms_notifications" {% if account.sms_notifications %} checked {% endif %} {{ disabled }}>
            </div>
            <br>
            <br>
            <div>
                {% if disabled %}
                <form action="{% url 'update-user-profile' %}">
                    <input type="submit" value="Edit" />
                </form>
                {% endif %}
            </div>
            {% if not disabled %}
            <input type="submit" value="Submit">
            {% endif %}
        </div>
    {% if not disabled %} </form> {% endif %}

{% endblock %}